[submodule "m43lang"]
	path = m43lang
	url = https://github.com/MarkV43/m43lang.git
[submodule "m43lang-web"]
	path = web
	url = https://github.com/MarkV43/m43lang-web.git
[submodule "m43lang-wasm"]
	path = wasm
	url = https://github.com/MarkV43/m43lang-wasm.git
[submodule "m43lang-server"]
	path = server
	url = https://github.com/MarkV43/m43lang-server.git

